body {
  text-align: center;
  background-color: chocolate;
}

.card {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  position: absolute;
  z-index: -1;
}

.front-face {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  position: absolute;
  background-color: lightgray;
}

.card-container {
  position: relative;
  height: 100px;
  width: 100px;
  border: solid 2px black;
  display: inline-block;
}

.main-container {
  width: 400px;
  margin: 10vh auto 50px;
  border: solid 10px #333;
  padding: 50px;
}
